@font-face {
  src: url('../fonts/GolosText-Medium.woff2') format('woff2');
  font-family: "Golos Text Medium";
  font-style: normal;
}
@font-face {
  src: url('../fonts/GolosText-Regular.woff2') format('woff2');
  font-family: "Golos Text";
  font-style: normal;
}
@font-face {
  src: url('../fonts/Geologica-Regular.woff2') format('woff2');
  font-family: "Geologica";
  font-style: normal;
}
html {
  font-size: 100%; // Обычно это 16px
}
body {
  font-family: "Golos Text Medium", sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-background);
}
a {
  font-family: "Golos Text Medium";
  font-size: 1.125rem;
  line-height: 1.4;
}

