<div class="banner-container">
    <div class="logo-outline"></div>
    <img class="logo-r" src="assets/images/R-white.svg" alt="">
    <div class="logo-glow"></div>
    <div class="company-name">R-Top</div>
    <div class="division">Структурное подразделение "Промышленные решения"</div>
    <div class="text-wave"></div>
    <div class="decoration">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="particles" id="particles"></div>
</div>