<section class="team-section">
    <h2 class="section-title">Команда</h2>
    <div class="team-grid">
        <div class="team-member">
            <div class="member-photo">
                <img class="member-photo" src="assets/images/ава 1.webp" alt="">
            </div>
            <h4>Алексей Морозов</h4>
            <span class="member-role">CEO & Full-Stack Developer</span>
            <p>10+ лет в веб-разработке. Управляет проектами и пишет код.</p>
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img class="member-photo" src="assets/images/ава 2.webp" alt="">
            </div>
            <h4>Дмитрий Мотолин</h4>
            <span class="member-role">UI/UX Designer</span>
            <p>Делает интерфейсы красивыми и удобными.</p>
        </div>
        <div class="team-member">
            <div class="member-photo">
               <img class="member-photo" src="assets/images/ава 3.webp" alt="">
            </div>
            <h4>Дмитрий Волков</h4>
            <span class="member-role">Backend Developer</span>
            <p>Специалист по Node.js и масштабируемой архитектуре.</p>
        </div>
    </div>
</section>